<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @event.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @event.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @event.description %></td>
              </tr>
              <tr>
                <td><strong>Event time:</strong></td>
                <td><%= @event.event_time %></td>
              </tr>
              <tr>
                <td><strong>Event date:</strong></td>
                <td><%= @event.event_date %></td>
              </tr>
              <tr>
              <tr>
                <td><strong>Event locaton:</strong></td>
                <td><%= @event.event_locaton %></td>
              </tr>
              <tr>
              <tr>
                <td><strong>Performer</strong></td>
                <td><%= @event.performer %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @event.rating %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_event_review_path(@event) %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', event_path %>