<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @event.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @event.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @event.description %></td>
              </tr>
              <tr>
                <td><strong>Event time:</strong></td>
                <td><%= @event.event_time %></td>
              </tr>
              <tr>
                <td><strong>Event date:</strong></td>
                <td><%= @event.event_date %></td>
              </tr>
              <tr>
              <tr>
                <td><strong>Event locaton:</strong></td>
                <td><%= @event.event_locaton %></td>
              </tr>
              <tr>
              <tr>
                <td><strong>Performer</strong></td>
                <td><%= @event.performer %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @event.rating %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td>"<%= @event.lat %> ,<%= @event.lon %>"</td>
              </tr>
            </tbody>
          </table>
          <iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBqYJdZitdg7oOuufOsidxT6hbzpuC3Tro%20&q=<%= @event.lat %> ,<%= @event.lon %>"></iframe>
          <%= link_to "Write a Review", new_event_review_path(@event) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
      <% @instagram.each do |instagram| %>
        <%= image_tag instagram.images.thumbnail.url %>
      <% end %>
      <br>
      <br>
      <br>

      <% @instagram2.each do |instagram| %>
        <%= image_tag instagram.images.thumbnail.url %>
      <% end %>

        <h1 class="review_title"><%= @event.title %></h1>
        <p><%= @event.description %></p>

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_event_review_path(@event), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      size: 24,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>